<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dog Breed Classifier</title>
    <link rel="icon" href="/static/images/dog.png">
    <link rel="stylesheet" href="static/styles.css">
    <script src="static/scripts.js"></script>
</head>
<body>
    <div id="main">
        {% block top %}
        <div style="height: 10%; width: 100px;"></div>
        {% endblock %}
        <p style="color: #C57837; font-size: 60px; font-family: MyFont;">Dog Breed Classifier</p>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>